@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,600,800');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --ff: 'Fira Sans', sans-serif;
  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 800;
  --fs-1: 6.5rem;
  --fs-2: 5rem;
  --fs-3: 3.5rem;
  --fs-4: 2rem;
  --fs-5: 1.5rem;
  --fs-6: 1.2rem;
  --fs-p: 1rem;
  --fs-s: 0.8rem;
  --primary-clr: #78350f;
  --secondary-clr: #b45309;
  --secondary-clr-light: #d97706;
  --accent-clr: #fcd34d;
  --accent-clr-dark:#fbbf24;
  --opaque-background: rgba(123, 107, 107, 0.25);
}

body {
  font-family: var(--ff);
}

.container {
  display:grid;
  height: 100vh;
}

.header {
  background-color: var(--secondary-clr);
  height: 15vh;
  display: grid;
  place-content: center;
}

.header-text {
  text-align: center;
  font-size: var(--fs-3);
  color: white;
}

.bookcase {
  height: 75vh;
  display: grid;
  align-content: start;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.books {
    background-color: var(--primary-clr);
    color: white;
    max-height: 7rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 4px solid var(--accent-clr-dark);
}

.footer {
  background-color: #b45309;
  height: 10vh;
  display: grid;
  place-content: center;
}

.footer-text {
  color: white;
  font-size: var(--fs-p);
  font-weight: var(--fw-m);
}